@font-face {
  font-family: "Bionix";
  src: url("fonts/BionixFat-vnmEM.otf") format("woff2");
  font-display: swap;
}

:root {
  --dark: #291e24;
  --medium: #744a6e;
  --medium_2: #412b42;
  --green: #86a88f;
  --poppins: "Poppins", system-ui, sans-serif;
  --bionix: "Bionix", system-ui, sans-serif;
}

html {
  scrollbar-color: var(--medium) var(--medium_2);
}

html::-webkit-scrollbar {
  width: 13px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--green);
}

body {
  background-color: var(--dark);
  font-family: var(--poppins);
  color: var(--green);
  min-height: 100vh;
  isolation: isolate;
}

.hero_purple_text {
  color: var(--medium_2);
  font-weight: 800;
  font-size: 4rem;
}

.hero_section {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: end;
}

.hero_title {
  font-size: 3.5rem;
}

.hero_title_small {
  font-size: 1.5rem;
}

.hero_paragraph {
  font-size: 1.5rem;
  text-align: right;
  font-weight: 600;
}

.hero_name {
  font-family: var(--bionix);
  font-size: 16.5rem;
  line-height: 0.7;
  text-align: right;
}

.hero_info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 30%;
  flex-direction: column;
}

.hero_extras_container {
  margin-top: 3rem;
  display: inline flex;
  gap: 2rem;
}

.hero_img {
  width: 70%;
  height: auto;
}

.hero_img_container {
  width: 70%;
}

.btn {
  background-color: var(--medium);
  color: var(--dark);
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn_sec {
  padding: 1.5rem;
  background-color: var(--dark);
  color: var(--medium);
  border: 4px solid var(--medium);
  font-size: 1.5rem;
  border-radius: 1rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.stats_section {
  background-color: var(--dark);
  padding: 12rem;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  gap: 3rem;
}

.nav_bar {
  background-color: var(--dark);
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1rem;
  font-weight: 600;
  position: fixed;
  z-index: 999;
  border-bottom: 2px solid var(--medium_2);
}

.nav_cv_download {
  background-color: var(--medium);
  color: var(--dark);
  border-radius: 1rem;
  font-weight: 800;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}

.nav_middle {
  display: inline-flex;
  gap: 2rem;
}

.nav_right {
  display: inline-flex;
  gap: 0.5rem;
}

.footer_section {
  height: fit-content;
  background-color: var(--green);
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-top: 2px solid var(--medium_2);
}

.footer_text {
  color: var(--dark);
  font-weight: 800;
  font-size: 1.5rem;
}

.stats_left {
  width: 100%;
  text-align: left;
}

.stats_right {
  width: 100%;
  text-align: right;
}

.stats_main_nr {
  font-size: 10rem;
  line-height: 1;
  font-weight: 800;
}

.stats_small_text {
  font-size: 7rem;
  font-weight: 800;
}

.stats_title {
  font-size: 3rem;
  font-weight: 800;
}

.stats_paragraph {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--medium);
}

.nav_icon {
  font-size: 2rem;
}

.about_me_section {
  padding: 12rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 6rem;
  justify-content: end;
  background-color: var(--green);
}

.about_title {
  font-family: var(--bionix);
  font-size: 10rem;
  line-height: 0.7;
  color: var(--dark);
  text-align: right;
}

.about_paragraph {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
  color: var(--dark);
}

.copyright {
  text-align: right;
}

.footer_content {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.footer_contact_info {
  display: flex;
  flex-direction: column;
}

.skill-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #86a88f;
  color: #291e24;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}

.skill-badge img {
  width: 1.5rem;
  height: 1.5rem;
  filter: brightness(0) saturate(100%) invert(11%) sepia(15%) saturate(800%)
    hue-rotate(270deg) brightness(95%) contrast(90%);
}

.skills-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills_section {
  padding: 12rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.skills_title {
  font-family: var(--bionix);
  font-size: 10rem;
  line-height: 0.7;
  color: var(--green);
  text-align: right;
}